@model VideoRent.ViewModels.MovieFormViewModel

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>
@Html.ValidationSummary(true, "Enter follow fields bellow")
@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        <label>Name</label>
        @Html.TextBoxFor(m => m.Movie.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Movie.Name)
    </div>

    <div class="form-group">
        <label>Release Date</label>
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:d MMM yyyy}", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Movie.ReleaseDate)
    </div>

    <div class="form-group">
        <label>Genre</label>
        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Movie.GenreId)
    </div>

    <div class="form-group">
        <label>Number in Stock</label>
        @Html.TextBoxFor(m => m.Movie.NumberInStock, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Movie.NumberInStock)
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.Movie.Id);
    @Html.Hidden("Movie.Id", (Model.Movie != null) ? Model.Movie.Id : 0) 
   
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
